@page
@model InterviewsApp.WebApp.Pages.Details.PositionModel
@{
    ViewData["Title"] = "Просмотр вакансии";
}
<style>
    td {
        padding: 10px;
    }

        td.edit-cell {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        td.content-irrelevant {
            width: 20%;
        }

    button {
        margin-left: 10px;
    }

    textarea {
        width: 100%;
    }
</style>
<div>
    <h3 id="position-name" class="localizable">Loc.ViewPositionPage.Title</h3>

    <table style="width:100%">
        <tr class="edit-cell">
            <td class="content-irrelevant localizable">Loc.ViewPositionPage.CityName:</td>
            <td class="edit-cell">
                <div id="city-name"></div>
                <input id="city-edit-input" style="display:none;" maxlength="50" />
                <button id="edit-city" onclick="editCity()"><i class="fa-solid fa-pen"></i></button>
                <button id="confirm-city" style="display:none;" onclick="confirmCity('@Model.PositionId')"><i class="fa-solid fa-check"></i></button>
                <button id="discard-city" style="display:none;" onclick="discard()"><i class="fa-solid fa-xmark"></i></button>
            </td>
        </tr>
        <tr>
            <td class="content-irrelevant localizable">Loc.ViewPositionPage.SalaryRange:</td>
            <td class="edit-cell">
                <div id="money"></div>
                <input id="money-edit-from" type="number" min="1000" max="10000000" step="1000" style="display:none;" />
                <input id="money-edit-to" type="number" min="1000" max="10000000" step="1000" style="display:none;" />
                <button id="edit-money" onclick="editMoney()"><i class="fa-solid fa-pen"></i></button>
                <button id="confirm-money" style="display:none;" onclick="confirmMoney('@Model.PositionId')"><i class="fa-solid fa-check"></i></button>
                <button id="discard-money" style="display:none;" onclick="discard()"><i class="fa-solid fa-xmark"></i></button>
            </td>
        </tr>
        <tr>
            <td class="content-irrelevant localizable">Loc.AddPositionPage.CompanyName:</td>
            <td id="company-name"></td>
        </tr>
        <tr>
            <td class="content-irrelevant localizable">Loc.ViewInterviewPage.Comment:</td>
            <td class="edit-cell" style="width: 70%;">
                <div id="comment"></div>
                <textarea id="comment-edit-input" style="display:none;" maxlength="200"></textarea>
                <button id="edit-comment" onclick="editComment()"><i class="fa-solid fa-pen"></i></button>
                <button id="confirm-comment" style="display:none;" onclick="confirmComment('@Model.PositionId')"><i class="fa-solid fa-check"></i></button>
                <button id="discard-comment" style="display:none;" onclick="discardComment()"><i class="fa-solid fa-xmark"></i></button>
            </td>
        </tr>
    </table>
    <div style="margin-top:20px">
        <button id="edit-button" class="localizable" onclick="offer('@Model.PositionId')" style="background:#cee8be">Loc.ViewPositionPage.OfferReceived</button>
        <button id="edit-button" class="localizable" onclick="denial('@Model.PositionId')" style="background:#bf8c8c">Loc.ViewPositionPage.DenialReceived</button>
    </div>
    
    <button id="delete-position-button" class="localizable" onclick="deletePosition()" style="margin-top:15px; margin-top:15px">Loc.ViewPositionPage.DeleteThisPosition</button>

    <p id="message"></p>
    <h4 class="localizable">Loc.ViewPositionPage.InterviewsForPosition:</h4>
    <table id="interviews-table" data-toggle="table" data-ajax="getInterviewsForPosition" data-sort-name="date" data-sort-order="asc" data-row-style="rowStyle" data-locale="ru-RU">
        <thead>
            <tr>
                <th class="localizable" data-field="interviewId" data-visible="false"></th>
                <th class="localizable" data-field="name" data-sortable="true" data-formatter="interviewFormatter">Loc.MainPage.Table.InterviewName</th>
                <th class="localizable" data-field="date" data-sortable="true" data-formatter="dateFormatter">Loc.MainPage.Table.InterviewDate</th>
            </tr>
        </thead>
    </table>
    <button id="add-interview-button" class="localizable" onclick="goToInterviewCreation()" style="margin-top:15px">Loc.MainPage.AddNewInterview</button>
</div>
<script src="/js/details-pages/position-details.js"></script>
<script>getPositionInfo('@Model.PositionId')</script>
